__pycache__/
*$py.class
*.pyc
*.so
.cache
*.bin
data/*
data
*.npy
*.csv
*.dat
fer2013
fer2013_features/
best_model/
checkpoints/
logs/
checkpoint*
temp.jpg
*.index
*.meta
*.xml
experimental_results.md
